#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#detailsCard1, #detailsCard2 {
  display: flex;
  width: 356px;
  height: 414px;
  min-width: 280px;
  max-width: 560px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 28px;
  background-color: #E8DEF8;
  
}
/* 
#detailsCard1 {

}

#detailsCard2 {

} */

#detailsPaper {
  background-color: #E8E8FD;
  display: flex;
  width: 1010px;
  height: 559px;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
}